ul { list-style-type: none; margin: 1rem 0; padding: 0; }
ul li { display: flex; justify-content: space-between; align-items: center; }
ul li span { padding: 0.25rem; border-radius: 3px; background-color: var(--theme-color); color: white; }