html {
  --font-size-small: 0.75rem; /* 12px */
  --font-size-regular: 1rem;    /* 16px, base */
  --font-size-medium: 1.5rem;  /* 24px */
  --font-size-large: 2.25rem; /* 36px */
  --font-size-xlarge: 3em; /* 48px */
  --theme-color: #6f42c1;
}

body {
  background-color: var(--theme-color);
}